@media only screen and (min-width: 769px) {
  .contactsWrapper {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 50px;
  }

  .contactsWrapper {
    font-size: 1rem;
    font-family: "Lexend Zetta", sans-serif;
    text-transform: uppercase;
    text-align: center;
    list-style-type: none;
  }

  .contactsWrapper li {
    margin-top: 15px;
  }

  .contactsWrapper a {
    text-decoration: none;
    color: #fff;
  }
}
