.navbarWrapper {
  display: flex;
  flex-direction: column;
  position: sticky;
}

.navbarWrapper h1 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 24px;
  font-family: "Croissant One", serif;
}

.menuIcon {
  width: 3em;
  height: 3em;
  display: none;
}

.navbarWrapper ul {
  padding: 0;
  font-size: 1em;
}

.navbarWrapper li {
  font-family: "Lexend Zetta", sans-serif;
  width: fit-content;
  list-style-type: none;
  margin-bottom: 16px;
  border-bottom: 2px solid transparent;
  text-transform: uppercase;
}

.navbarWrapper li:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.5px;
  display: block;
  transition: all 0.3s ease;
}

.navbarWrapper li:hover::after {
  width: 60%;
  height: 0.7px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 0%,
    #ffffff 75%,
    #ffffff 100%
  );
}

.navbarWrapper a {
  text-decoration: none;
  color: #fff;
}

.contactLink {
  display: none;
}

@media only screen and (max-width: 768px) {
  .menuIcon {
    display: block;
    cursor: pointer;
  }

  .navbarWrapper h1 {
    width: 80%;
    font-size: 2em;
    margin-bottom: 0;
  }

  .brandAndIcon {
    width: 100%;
    min-height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  .navbarWrapper ul {
    display: none;
  }

  .navbarWrapper ul.open {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
  }

  .contactLink {
    display: block;
  }
}
