* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.App {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  background-color: #141414;
  color: #fff;
}

.navbarAndContentWrapper {
  height: 95vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
}

@media only screen and (max-width: 768px) {
  .App {
    overflow-y: scroll;
  }

  .navbarAndContentWrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 480px) {
  .navbarAndContentWrapper {
    padding: 30px;
  }
}
